.container {
  width: 100%;
  position: relative;
}
.container img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.textContainer {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  text-align: left;
}
.textContainer h1 {
  font-size: 2rem;
  color: #696969;
}
.textContainer p {
  font-size: 1.5rem;
  color: #696969;
  margin-top: 0.1rem;
}

.textContainer span {
  font-weight: bold;
  color: red;
}
@media screen and (min-width : 768px) {
  .container {
    width: 100%;
    position: relative;
  }
  .container img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .textContainer {
    position: absolute;
    top: 0.75rem;
    left: 5rem;
    text-align: left;
  }
  .textContainer h1 {
    font-size: 7rem;
    color: #696969;
  }
  .textContainer p {
    font-size: 5rem;
    color: #696969;
    margin-top: 0.1rem;
  }

  .textContainer span {
    font-weight: bold;
    color: red;
  }
}